<div class="container py-5">
    <div>
        <input [(ngModel)]="searchText" placeholder="Max room price" [ngModelOptions]="{standalone: true}">
        <button class="btn btn-primary btn-sm" (click)="randomize()">Randomize</button>
    </div>
    <div class="row">
        <app-room *ngFor="let room of rooms | async | filterPipe : searchText; index as i;" [room]="room"
            (delete)="onDelete($event)" (edit)="onEdit($event)" (reserve)="onReserve($event)"></app-room>
    </div>

    <app-form-add (add)="addRoom($event)">
    </app-form-add>
</div>